<div id="<%= dom_id bill_detail %>">
  <p>
    <strong>Billid:</strong>
    <%= bill_detail.BillID %>
  </p>

  <p>
    <strong>Namecus:</strong>
    <%= bill_detail.NameCus %>
  </p>

  <p>
    <strong>Phonenumber:</strong>
    <%= bill_detail.Phonenumber %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= bill_detail.Product %>
  </p>

  <p>
    <strong>Totalbill:</strong>
    <%= bill_detail.TotalBill %>
  </p>

</div>
