<div id="<%= dom_id source_of_supply %>">
  <p>
    <strong>S id:</strong>
    <%= source_of_supply.S_ID %>
  </p>

  <p>
    <strong>Fullname:</strong>
    <%= source_of_supply.Fullname %>
  </p>

  <p>
    <strong>Phonenumber:</strong>
    <%= source_of_supply.Phonenumber %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= source_of_supply.Address %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= source_of_supply.Email %>
  </p>

</div>
